#currently-searching-for-a-data-scientist-position p {
  text-align: justify;
}

#education ul{
  margin-top: 0.05in;
  padding-left: 0;
  font-weight: 400;
  line-height: 1.6;
}

#languages ul{
  margin-top: 0.05in;
  padding-left: 0;
  font-weight: 400;
  line-height: 1.6;
}

#contact ul{
  margin-top: 0.05in;
  padding-left: 0;
  font-weight: 400;
  line-height: 1.75;
}

#contact li > i{
  width: 0.9rem; /* for text alignment */
  text-align: right;
}

#skills{
  line-height: 1.6;
}

#skills p{
  margin: 0;
  padding: 0;
}

#references{
  line-height: 1.6;
}

#references p{
  margin: 0;
  padding: 0;
  text-align: left;
}

#personal-projects .location {
  display: none;
}
